In [1]:
d={
    'key1':'value1'
}
for i  in d:
    print(i)
for i in d:
    print(d[i])

key1
value1

In [3]:
d1={
    'key1':'34'
}
d1.update({'key2':'56'})
print(d1)
d2={'key1':'12','key2':'67'}
d3={'key1':'23','key2':'87'}
d4={'key1':'54','key2':'32'}
d5={'key1':'65','key2':'98'}
for i in range(1,6):
    print(d[i])

{'key1': '34', 'key2': '56'}

KeyError: 1

In [8]:
l=[]
for i in range(5):
    d={
        'key1':input(),
        'key2':input()
    }
    l.append(d)
print(l)

34
38
78
89
98
43
32
21
45
78
[{'key1': '34', 'key2': '38'}, {'key1': '78', 'key2': '89'}, {'key1': '98', 'key2': '43'}, {'key1': '32', 'key2': '21'}, {'key1': '45', 'key2': '78'}]

In [9]:
l=[]   #get #update
d={}
for i in range(2):
    d.update({
        'key1':input(),
        'key2':input()
    })
    l.append(d)
print(l)

32
43
65
54
[{'key1': '65', 'key2': '54'}, {'key1': '65', 'key2': '54'}]

In [10]:
l=[]   #inefficient
for i in range(2):
    d={}
    d.update({
        'key1':input(),
        'key2':input()
    })
    l.append(d)
print(l)

65
43
32
21
[{'key1': '65', 'key2': '43'}, {'key1': '32', 'key2': '21'}]

In [11]:
#verifying password
db=[{'sailu@mailea.com':'12356'},{'ganga@mailea.com':'gangster'},{'kalyani@mailea.com':'coder'}]
print(db)
for i in db:
    print(i.keys())
    print(i.values())

[{'sailu@mailea.com': '12356'}, {'ganga@mailea.com': 'gangster'}, {'kalyani@mailea.com': 'coder'}]
dict_keys(['sailu@mailea.com'])
dict_values(['12356'])
dict_keys(['ganga@mailea.com'])
dict_values(['gangster'])
dict_keys(['kalyani@mailea.com'])
dict_values(['coder'])

In [12]:
db=[{'sailu@mailea.com':'12356'},{'ganga@mailea.com':'gangster'},{'kalyani@mailea.com':'coder'}]
print(db)
for i in db:
    print(i.items())

[{'sailu@mailea.com': '12356'}, {'ganga@mailea.com': 'gangster'}, {'kalyani@mailea.com': 'coder'}]
dict_items([('sailu@mailea.com', '12356')])
dict_items([('ganga@mailea.com', 'gangster')])
dict_items([('kalyani@mailea.com', 'coder')])

In [15]:
db=[{'sailu@mailea.com':'12356'},{'ganga@mailea.com':'gangster'},{'kalyani@mailea.com':'coder'}]
print(db)
username=input()
password=input()
temp={
    username:password
}
if temp in db:
    print("found")
else:
    print("not found")

[{'sailu@mailea.com': '12356'}, {'ganga@mailea.com': 'gangster'}, {'kalyani@mailea.com': 'coder'}]
sailu@mailea.com
12345
not found

In [25]:
d2=[{'sailu@mailea.com':'12356'},{'ganga@mailea.com':'gangster'},{'kalyani@mailea.com':'coder'}]  #login
u=input()
p=input()
temp1={
    u:p
}
c=0
for i in d2:
    for j in i:
        if j==u:
           c=c+1
if(c==0):
        print("registrerd succesfully")
        d2.append(temp1)
else:
        print("unsuccessful")
print(d2)

hgdj
1345
registrerd succesfully
[{'sailu@mailea.com': '12356'}, {'ganga@mailea.com': 'gangster'}, {'kalyani@mailea.com': 'coder'}, {'hgdj': '1345'}]

In [39]:
  #add of matrices
row=3
col=3
arr1=[]
for i in range(row):
    temp=input("enter ele in row:").split()
    ele=list(map(int,temp))
    arr1.append(ele)
print(arr1)
arr2=[]
for i in range(row):
    temp=input("enter ele in row:").split()
    ele=list(map(int,temp))
    arr2.append(ele)
print(arr2)
res= [[0 for i in range(col)] for i in range(row)]
for i in range(row):
    for j in range(col):
        res[i][j]=arr1[i][j]+arr2[i][j]
print(res)

enter ele in row:1 2 3
enter ele in row:4 5 6
enter ele in row:7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
enter ele in row:12 13 14
enter ele in row:15 16 17
enter ele in row:18 19 10
[[12, 13, 14], [15, 16, 17], [18, 19, 10]]
[[13, 15, 17], [19, 21, 23], [25, 27, 19]]

In [41]:
row=3 #slicing
col=4
l=[1,2,3,4,5,6,7,8,9,10]
print(l)
l[0:5]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5]

In [42]:
l[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
l[0:10:2]

[1, 3, 5, 7, 9]

In [44]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
l[::2]

[1, 3, 5, 7, 9]

In [46]:
row=2
col=2
arr1=[]
for i in range(row):
    temp=input("enter ele in row:").split()
    ele=list(map(int,temp))
    arr1.append(ele)
print(arr1)
arr2=[]
for i in range(row):
    temp=input("enter ele in row:").split()
    ele=list(map(int,temp))
    arr2.append(ele)
print(arr2)
res= [[0 for i in range(col)] for i in range(row)]
for i in range(row):
    for j in range(col):
        res[i][j]=arr1[i][j]+arr2[i][j]
print(res)

enter ele in row:1 2
enter ele in row:3 4
[[1, 2], [3, 4]]
enter ele in row:5 6
enter ele in row:7 8
[[5, 6], [7, 8]]
[[6, 8], [10, 12]]

In [51]:
l=[1,2,3,4,5]
i=len(l)-1
while(i>=0):
    print(l[i])
    i=i-1

5
4
3
2
1

In [52]:
l=[1,2,3,4,5]
for i in range(len(l)-1,-1,-1):
    print(l[i])

5
4
3
2
1

In [56]:
n=int(input())
fib1=0
fib2=1
print(fib1)
print(fib2)
for i in  range(n-2):
    sum=fib1+fib2
    print(sum)
      
    fib1=fib2
    fib2=sum

10
0
1
1
2
3
5
8
13
21
34

In [57]:
#strings and its methods
s="hello world"
s.capitalize()

'Hello world'

In [65]:
res=s.split()
print(res)

['hello', 'world']

In [66]:
res=s.split(' ')
print(res)

['hello', 'world']

In [69]:
print('-'.join(res))

hello-world

In [81]:
s.title()

'Hello World'

In [71]:
s.lower()

'hello world'

In [76]:
s1="hello world"
s2="HI THERE"
res=s1.swapcase()
print(res)

HELLO WORLD

In [77]:
s1="hello world"
s2="HI THERE"
res=s2.swapcase()
print(res)

hi there

In [100]:
s="hello world"
res=s.count('l')
print(res)

3

In [84]:
first="Mr.X is "
age=32
last="years old"
print("Mr.X is {} years old".format(age))

Mr.X is 32 years old

In [87]:
num=32
print("the square of {} is {}".format(num, num*num))

the square of 32 is 1024

In [89]:
num=32
print("the square of {} is {:.6f}".format(num, num*num))

the square of 32 is 1024.000000

In [92]:
num=32
print("the square of {:10} is {:.5f}".format(num, num*num))

the square of         32 is 1024.00000

In [95]:
num=32
print(f"the square of {num} is {num*num}")

the square of 32 is 1024

In [97]:
print(f"the square of {num} is {num*num:.5f}")

the square of 32 is 1024.00000

In [105]:
a=int(input('enter a: '))   #EXCEPTION HANDLING
b=int(input('enter b: '))
try:
    print(a/b)
except:
    print("b can't be zero")
print("after the error")

enter a: 3
enter b: 0
b can't be zero
after the error

In [114]:
m=int(input('enter m: '))  
n=int(input('enter n: '))
print(m+n)
print(m-n)
print(m*n)

enter m: -1
enter n: 0
-1
-1
0

In [115]:
m=int(input('enter m: '))  
n=int(input('enter n: '))
try:
    print(m+n)
    print(m-n)
    print(m*n)
    print(m/n)
except:
    print("b can't be zero")
print("after the error")

enter m: 2
enter n: 0
2
2
0
b can't be zero
after the error

In [ ]:
l=[]
for i in range(5):
    try:
        k=int(input())
        l.append(k)
    except:
        print("this is not an int")
print(l)